.container {
    width: 1034px;
    margin: 0 auto;
    outline: 1px dashed tomato;
}
.hero{}



.header{
    background-image: url(../images/logo-background.jpg);
    padding-bottom: 39px;
    padding-top: 39px;
}

.logo,
.header-nav,
.header-list,
.list-item {
    display: flex;
    align-items: center;
}